<ion-view view-title="常用联系人">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="addContact()">新增
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" class="linkman-body">
        <div ng-show="isLoading" style="text-align: center;margin-top: 60px;">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="myContact.length===0" class="has-no-contacts">
            <img src="app/img/me_icon_kongbai@2x.png"/>
            <p>您还没有联系人，快去添加吧！</p>
        </div>
        <div ng-show="myContact.length!=0">
            <ion-list>
                <ion-item style="margin-top: 5px;border: none;" ng-repeat="contact in myContact">
                    <div class="one-linkman">
                        <table>
                            <tbody>
                            <tr>
                                <td class="linkman-item">姓名:</td>
                                <td class="linkman-value">{{contact.name}}</td>
                            </tr>
                            <tr>
                                <td class="linkman-item">手机号:</td>
                                <td class="linkman-value forbid-phone" style="color: black;">{{contact.phone}}</td>
                            </tr>
                            <tr>
                                <td class="linkman-item">身份证号:</td>
                                <td class="linkman-value">{{contact.idcard}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ion-option-button style="background-color: red;color: white;" ng-click="deleteMan(contact.id)">删除</ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>