<ion-view title="筛选条件">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;margin-top: 5px;" ng-click="sureFilter()">
            确定
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div>
            <div class="condition-price">
                <div class="device-item-price">
                    价格
                </div>
                <div class="condition-price-slider">
                    <div class="condition-price-show">
                        <span ng-if="slider.minValue===slider.options.floor&&slider.maxValue===slider.options.ceil">价格不限</span>
                        <span ng-if="slider.minValue!=slider.options.floor&&slider.maxValue===slider.options.ceil">￥{{slider.minValue}}以上</span>
                        <span ng-if="slider.minValue===slider.options.floor&&slider.maxValue!=slider.options.ceil">￥{{slider.maxValue}}以下</span>
                        <span ng-if="slider.minValue!=slider.options.floor&&slider.maxValue!=slider.options.ceil">￥{{slider.minValue}}-￥{{slider.maxValue}}</span>
                    </div>
                    <rzslider rz-slider-model="slider.minValue"
                              rz-slider-high="slider.maxValue"
                              rz-slider-options="slider.options"></rzslider>
                </div>
            </div>

            <div class="service-group">
                <div class="device-item">
                    房屋户型
                </div>
                <div class="row" style="margin-top: 15px;margin-bottom: 15px;">
                    <div class="col col-25" ng-repeat="house in houses" ng-class="{true:'select-city'}[house.choice]" ng-click="choiceService(house)">
                        <img src="app/img/stay_icon_filter_select@3x.png">
                        <img ng-show="house.choice" src="app/img/stay_icon_filter_select_c@3x.png">
                        <span>{{house.name}}</span>
                    </div>
                </div>
            </div>

            <div class="service-group" style="margin-top: 30px;">
                <div class="device-item">
                    设施
                </div>
                <div class="device-style">
                    <div class="divice-style-detail" ng-class="{true:'select-city'}[dvc.choice]" ng-repeat="dvc in stayDevices" ng-click="choiceDevice(dvc)">
                        <img src="app/img/sxtx_radio_unselected.png">
                        <img ng-show="dvc.choice" class="show-choice" src="app/img/sxtx_radio_select.png">
                        <span>{{dvc.name}}</span>
                    </div>
                </div>
            </div>
            <div class="service-group">
                <div class="device-item">
                    服务
                </div>
                <div class="service-style">
                    <div class="service-style-detail" ng-class="{true:'selected-service-device'}[serves.choice]" ng-click="choiceService(serves)" ng-repeat="serves in stayServices">
                        {{serves.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="condition-buttons">
            <div class="condition-father">
                <div class="clear-condition condition-btn" ng-click="clearFilter()">清空筛选</div>
                <div class="sure-condition condition-btn" ng-click="sureFilter()">确定</div>
            </div>
        </div>
        <br><br>
    </ion-content>
</ion-view>