<ion-view view-title="选择联系人">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="addContact()">新增
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false">
        <div ng-hide="hasContacts" class="has-no-contacts">
            <img src="app/img/me_icon_kongbai@2x.png"/>
            <p>您还没有联系人，快去添加吧！</p>
        </div>
        <div ng-show="hasContacts" class="contact-has-contact">
            <div class="contact-contact-list" ng-repeat="person in userdata" ng-click="choicePerson(person)">
                <img class="img-contact-select" src="app/img/stay_icon_Unselected@2x.png">
                <img ng-show="idCard==person.idcard" class="img-contact-select" src="app/img/stay_icon_Select@2x.png">
                <span class="person-name">{{person.name}}</span>
                <span class="person-phone">{{person.phone}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>