<ion-view class="coupon-view" view-title="赠送荣盛币" >
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="backrsb()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="give-body">
            <div class="give-content">
                <form name="giveForm">
                    <div class="input-ctrl">
                        <div class="ctrl-label text-right">
                            <span>手机号</span>
                        </div>
                        <div class="ctrl-input">
                            <input type="tel" maxlength="11" ng-maxlength="11" ng-minlength="11" ng-model="giveInfo.phone" name="phone" placeholder="请输入被赠与人手机号" required>
                        </div>
                        <div class="ctrl-tip">{{phoneTip}}</div>
                    </div>

                    <div class="input-ctrl">
                        <div class="ctrl-label text-right">
                            <span>赠与数额</span>
                        </div>
                        <div class="ctrl-input">
                            <input type="number" ng-model="giveInfo.money" name="num" placeholder="请输入赠与数额" required>
                        </div>
                        <div class="ctrl-tip">{{moneyTip}}</div>
                    </div>
                </form>

                <button class="input-sure-button" ng-click="togive()" ng-disabled="giveForm.$invalid ||!!phoneTip || giveInfo.phone.length != 11||giveInfo.money<=0">
                    赠与
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>