@charset "utf-8";

.stay-main-back{
  margin-top: 5px;
  background-color: white;
  height: 250px;
  .item-border{
    clear: both;
    width: 100%;
    height: 60px;
    margin-top: 0;
    position: relative;
    .image-icon{
      display: inline-block;
      img{
        width: 25px;
        max-height: 23px;
        margin-top: 15px;
        margin-left: 12px;
      }
    }

    .item-name{
      display: inline-block;
      border-bottom: 1px solid gainsboro;
      position: absolute;
      height: 50px;
      top: 0px;
      right: 0px;
      width: 85%;
      .item-title{
        float: left;
        line-height: 60px;
      }
      .item-title-in{
        float: left;
        line-height: 40px;
      }
      .item-title-leave{
        float: left;
        margin-left: 50px;
        line-height: 40px;
      }
      .stay-in-out{
        font-size: 12px;
        text-align: center;
        position: absolute;
        top: 20px;
        margin-left: 25px;
        color: darkgrey;
      }

      .stay-arrow-right{
        line-height: 50px;
        width: 8px;
        float: right;
        margin-right: 15px;
        margin-top: 23px;
      }
    }
  }
  .stay-search-btn{
    background-color: orange;
    color: white;
    height: 40px;
    font-size: 16px;
    width: 90%;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    margin-left: 5%;
    margin-top: 15px;
  }
}