<ion-view view-title="填写订单">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-content style="overflow: auto;">
        <div class="order-travel-time" ng-click="choiceDate()">
            <p class="travel-time">出游时间</p>
            <span class="icon ion-ios-arrow-right"></span>
            <p class="choiced-time">{{travelDate.date}}</p>
        </div>
        <div class="order-product-detail">
            <p>产品信息&nbsp;{{travelName}}</p>
        </div>
        <div class="stay-number-service">
            预定数量
            <div class="stay-plus-miuns">
                <div ng-click="reduceSourt()">
                    <img class="stay-number-minus" src="app/img/stay_icon_Less@3x.png">
                    <img ng-hide="travelers===0" class="stay-number-minus" src="app/img/stay_icon_Less_c@3x.png">
                </div>
                <span>{{travelers}}</span>
                <div ng-click="addSourt()">
                    <!--<img class="stay-number-plus" src="app/img/stay_icon_plus@3x.png">-->
                    <img class="stay-number-plus" src="app/img/stay_icon_plus_c@3x.png">
                </div>

            </div>
        </div>
        <!--<div class="order-travel-people" ng-click="travelMan()">-->
            <!--<p>出游人</p>-->
            <!--<img src="app/img/stay_icon_plus_c@2x.png"/>-->
        <!--</div>-->
        <div>


            <div class="order-travel-people">
                <p>联系人信息</p>
            </div>
            <div class="contact-info">
                <div class="order-contact-item">
                    <p class="order-contact-name">姓名</p>
                    <input class="order-name-input" type="text" ng-model="contacter.name" placeholder="请输入联系人姓名">
                    <img src="app/img/stay_icon_Contacts.png" ng-click="travelContact()">
                </div>
                <div class="order-contact-item">
                    <p class="order-contact-name">电话</p>
                    <input class="order-name-input" type="text" ng-model="contacter.phone" placeholder="请如入联系人电话">
                </div>
                <div class="order-contact-item">
                    <p class="order-contact-name">地址</p>
                    <input class="order-name-input" type="text" placeholder="用于邮寄(选填)"/>
                </div>
                <div class="order-contact-item">
                    <p class="order-contact-name">邮箱</p>
                    <input class="order-name-input" type="text" placeholder="用于电子通知(选填)"/>
                </div>

            </div>
            <div class="stay-service-items">
                备注&nbsp;&nbsp;<span>{{remark}}</span>
                <div class="icon ion-ios-arrow-right stay-service-arrow" ng-click="toRemark()"></div>
            </div>
            <br>
            <br>
        </div>

    </ion-content>
    <ion-footer-bar class="travel-detail-footer">
        <div class="order-should-pay">
            应付:<span style="color: orangered">￥{{totalPrice}}</span>
        </div>
        <div class="buy-it" ng-click="toBuy()">
            立即下单
        </div>
    </ion-footer-bar>
</ion-view>