<ion-view hide-nav-bar="hideHeaderBar" hide-tabs="true" view-title="{{stay.name}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="right">-->
        <!--<button class="button button-icon icon ">-->
            <!--<img ng-if="stay.isCollected!=1" src="app/img/stay_icon_collect@3x.png">-->
            <!--<img ng-if="stay.isCollected==1" src="app/img/stay_icon_collect_c@3x.png">-->
        <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content style="top:-1px!important;" on-scroll="scrollbody()">
        <div ng-hide="stay&&stay.addr" style="text-align: center;margin-top: 60px;">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="stay&&stay.addr">
            <div style="position:relative;">
                <ion-slide-box class="travel-stay-slider" on-slide-changed="slideChanged($index)" auto-play="true"
                               does-continue="true"
                               slide-interval=4000 show-pager="true" delegate-handle="slideboximgs">
                    <ion-slide ng-repeat="pic in stay.pics" ng-click="toImageDetail()">
                        <div class="box blue">
                            <img ng-src="{{pic}}" width="100%">
                        </div>
                    </ion-slide>
                </ion-slide-box>
                <div class="travel-icon-content">
                    <div class="travel-detail-title">{{stay.name}}</div>
                    <div class="travel-detail-subtitile">{{stay.category}} · {{stay.area}} · {{stay.roomType}} ·
                        {{stay.bed}}
                    </div>
                    <div class="travel-detail-icons">
                        <div class="travel-detail-rsb" ng-show="stay.rsDiscount<10">
                            <img src="app/img/common_icon_rsb@3x.png">
                            <p class="travel-bill-release">荣盛币支付{{stay.rsDiscount}}折</p>
                        </div>
                        <div class="travel-cancle-btn">
                            <div class="allow-cancle" ng-show="stay.isBack==='0'">
                                免费取消
                            </div>
                            <div class="cannot-cancle" ng-show="stay.isBack==='1'">
                                不可取消
                            </div>
                        </div>
                        <div class="travel-cancle-btn" ng-show="stay.state==1">
                            <div class="detail-employee-vip">员工专享</div>
                        </div>
                        <div class="travel-cancle-btn" ng-show="stay.max>0">
                            <div class="limit-employee-vip">单日限购{{stay.max}}套</div>
                        </div>
                        <div class="trave-detail-price">
                            ￥{{stay.price}}
                        </div>
                    </div>
                </div>
                <div class="travel-detail-back" ng-class="{true:'detail-top-length'}[deviceId=='0']" ng-click="goback()">
                    <label>
                        <img src="app/img/stay_icon_fanhui@3x.png">
                    </label>
                </div>
                <div class="travel-detail-picnum">
                    <p>{{picIndex}}/{{stay.pics.length}}</p>
                </div>
            </div>
            <!--<div class="travel-detail-share" ng-class="{true:'detail-top-length'}[deviceId=='0']" ng-show="canShare===1" ng-click="toShare()">-->
                <!--<img src="app/img/lALOfFHbsC4u_46_46.png">-->
            <!--</div>-->
            <div class="travel-detail-collect" ng-class="{true:'detail-top-length'}[deviceId=='0']" ng-click="doCollect()">
                <img ng-if="stay.isCollected!=1" src="app/img/stay_icon_collect@3x.png">
                <img ng-if="stay.isCollected==1" src="app/img/stay_icon_collect_c@3x.png">
            </div>
            <div class="stay-detail-address">{{stay.addr}}</div>
            <div id="{{mapId}}" class="stay-detail-map"></div>
            <div class="stay-detail-intro">
                <div class="stay-detail-title">公寓、小区介绍与周边介绍</div>
                <div class="stay-detail-body">{{stay.inre}}</div>
            </div>
            <div>
                <div class="col text-center" style="margin: 15px auto 10px;border-bottom: 2px solid orange;width: 150px;">
                    配套设施
                </div>
                <div class="stay-contain-device">
                    <div class="stay-one-device" ng-repeat="device in stay.devices">
                        <img ng-src="{{device.imageNotSelect}}">
                        <span>{{device.name}}</span>
                    </div>
                </div>

            </div>
            <div>
                <div class="col text-center" style="margin: 15px auto 10px;border-bottom: 2px solid orange;width: 150px;">
                    退订规则
                </div>
                <div class="stay-back-rule">
                    <p>不可取消:不论客户是否到店，酒店均做保留，不退还付款。</p>

                    <p>可取消:在保留时间内可以免费取消；如预定未到，且未通知取消的，酒店均做保留，不退还付款。</p>

                    <p>改签规则:不可取消产品，视房态情况，只接受等于或高于同等数量和价位的变更。可取消的产品，视房态情况变更订单。</p>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="travel-detail-footer" ng-show="stay&&stay.addr">
        <div class="phone-ask">
            <img src="app/img/holiday_icon_iphone@2x.png">
            <a href="tel://{{stay.telephone}}">电话咨询</a>
        </div>
        <div class="buy-it" ng-click="toBuy()">
            立即预定
        </div>
    </ion-footer-bar>
</ion-view>