<ion-view view-title="应用" hide-tabs="true">
    <ion-content>
        <ion-list>
            <ion-item class="home-app-list" ng-repeat="app in appList" ng-click="openApplication(app)">
                <div class="app-img">
                    <img ng-src="{{app.smallImage}}">
                </div>
                <div class="app-name">
                    {{app.appName}}
                </div>
                <div>
                    <span class="app-right-arrow">
                        <span class="ion-ios-arrow-right"></span>
                    </span>
                </div>
                <ion-option-button class="app-del-btn" ng-click="deleteApp(app)">删除
                </ion-option-button>
            </ion-item>
        </ion-list>
        <div class="button" ng-click="toAddApp()">添加应用</div>
    </ion-content>
</ion-view>