<ion-view view-title="{{title}}" hide-tabs="true" can-swipe-back="false">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-content has-header="true">
        <div ng-hide="staticPics" class="app-boffer-spinner">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="staticPics">
            <div ng-repeat="pic in staticPics">
                <img style="width: 100%" ng-src="{{pic.pic}}"/>
            </div>

        </div>
        <div ng-show="holiday.count>0">
            <div class="col text-center" style="margin: 15px auto 10px;border-bottom: 2px solid orange;width: 150px;">
                推荐列表
            </div>
        </div>
        <thumbnail-item ng-repeat="place in holiday.list"
                        image="{{place.picList}}"
                        title="{{place.name}}"
                        discount="{{place.rsDiscount}}"
                        canusersb="{{place.isRSCoinPay}}"
                        subtitle="有效期：{{place.timeIntervalStart}}至{{place.timeIntervalEnd}}"
                        cancle="{{place.isBack}}"
                        price="{{place.priceMin}}"
                        ng-click="toTravelDetail(place)">
            <p>{{item.title}}</p>
        </thumbnail-item>
        <div class="goods-empty-order" ng-show="(staticPics.length==0)&&(holiday.count==0)">
            <img src="app/img/me_icon_kongbai@2x.png">
            <p>这里空空如也，去试试其他城市有什么好玩的</p>
        </div>
        <ion-infinite-scroll ng-if="holiday.count>holiday.list.length"
                             on-infinite="loadMoreDate()" distance="1%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>