<ion-view view-title="身份验证">
    <ion-nav-buttons side="left">
        <button class="button button-icon btn-back" style="font-size: 14px;color: white;" ng-click="goback()">关闭
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="false">
        <div ng-show="identityType==='remember'">
            <div class="change-title">
                请输入支付密码，完成身份认证
            </div>
            <six-pass-word next="checkPayPwd()" model="pwd"></six-pass-word>
        </div>
        <div ng-show="identityType==='forget'">
            <div class="change-title">
                请输入<span>{{userPhone}}</span>收到的短信验证码
            </div>
            <form novalidate>
                <div class="identity-code">
                    &nbsp;&nbsp;校验码:
                    <input type="tel" ng-model="identity.code" maxlength="6" placeholder="短信校验码" required>
                    <span ng-click="sendCode()" ng-style="colorObj">{{buttonName}}</span>
                </div>
                <div class="login-button" ng-click="checkIdentyCode()" style="background-color: darkgray;" ng-style="btnStyle">
                    <p>下一步</p>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>