<ion-view view-title="我的收藏">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="changeList()">
            {{listType==0?'度假':'住宿'}}
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-show="showLoading" class="app-boffer-spinner">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="!storeList||storeList.length==0">
            <div class="goods-empty-order">
                <img src="app/img/me_icon_kongbai@2x.png">
                <p>这里空空如也，去试试其他城市有什么好玩的</p>
            </div>
        </div>
        <div ng-show="storeList&&storeList.length>0">
            <div ng-show="listType==1" style="position: relative" ng-repeat="place in storeList">
                <thumbnail-item image="{{place.picList}}"
                                title="{{place.name}}"
                                discount="{{place.rsDiscount}}"
                                canusersb="{{place.isRSCoinPay}}"
                                subtitle="有效期：{{place.timeIntervalStart}}至{{place.timeIntervalEnd}}"
                                cancle="{{place.isBack}}"
                                price="{{place.priceMin}}"
                                store="1"
                                ng-click="toProDetail(place.id)">
                    <p>{{item.title}}</p>
                </thumbnail-item>
                <div class="travel-detail-collect" ng-click="doRemoveCollect(place.id)">
                    <img src="app/img/stay_icon_collect_c@3x.png">
                </div>
            </div>
            <div ng-show="listType==0" style="position: relative" ng-repeat="stay in storeList">
                <thumbnail-item image="{{stay.pic}}"
                                title="{{stay.houseName}}-{{stay.name}}"
                                discount="{{stay.rsDiscount}}"
                                canusersb="0"
                                subtitle="{{stay.addr}}"
                                cancle="{{stay.isBack}}"
                                price="{{stay.price}}"
                                ng-click="toProDetail(stay.id)">
                </thumbnail-item>
                <div class="travel-detail-collect" ng-click="doRemoveCollect(stay.id)">
                    <img src="app/img/stay_icon_collect_c@3x.png">
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="requestParams.download" on-infinite="loadMoreData()" distance="1%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>