<ion-view title="{{selectCity.name}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader bar-light">
        <div class="row">
            <div class="col col-20 text-center" ng-click="$state.go('stayChoiceDate',{name: $state.params.name})" style="font-size: 13px;">
                {{appStay.stayIn.substr(5)}}&nbsp;<span class="icon" ng-class="{false:'ion-ios-arrow-down',true:'ion-ios-arrow-up'}[itemList==='date']">
            </span>
            </div>
            <div class="col col-25 text-center list-pad-border" style="font-size: 13px;"
                 ng-click="typeFilter('place')">{{selectCity.name}}&nbsp;<span class="icon" ng-class="{false:'ion-ios-arrow-down',true:'ion-ios-arrow-up'}[itemList==='place']"></span></div>
            <div class="col col-30 text-center" ng-click="typeFilter('filter')" style="font-size: 13px;">更多筛选&nbsp;<span class="icon" ng-class="{false:'ion-ios-arrow-down',true:'ion-ios-arrow-up'}[itemList==='filter']"></span></div>
            <div class="col col-30 text-center" style="border-left: 1px solid ghostwhite;font-size: 13px;" ng-click="typeFilter('ranking')">推荐排序&nbsp;<span class="icon" ng-class="{false:'ion-ios-arrow-down',true:'ion-ios-arrow-up'}[itemList==='ranking']"></span></div>
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div ng-switch="stayList.count">
            <div ng-switch-when="0">
                <div class="goods-empty-order">
                    <img src="app/img/me_icon_kongbai@2x.png">
                    <p>这里空空如也，去试试其他城市有什么好玩的</p>
                </div>
            </div>
            <div ng-switch-default>
                <div ng-show="stayList&&stayList.list.length>0">
                    <thumbnail-item ng-repeat="stay in stayList.list"
                                    image="{{stay.pic}}"
                                    title="{{stay.houseName}}-{{stay.name}}"
                                    discount="{{stay.rsDiscount}}"
                                    canusersb="0"
                                    subtitle="{{stay.addr}}"
                                    cancle="{{stay.isBack}}"
                                    price="{{stay.price}}"
                                    ng-click="toStayDetail(stay.id)">
                    </thumbnail-item>
                </div>
                <ion-infinite-scroll ng-if="stayList.count>stayList.list.length" on-infinite="loadMoreDate()" distance="1%" immediate-check="false">
                </ion-infinite-scroll>
            </div>
        </div>
        <div ng-hide="stayList||stayList.length==0" class="app-boffer-spinner">
            <ion-spinner></ion-spinner>
        </div>


    </ion-content>
    <div ng-show="itemList==='place'||itemList==='ranking'" ng-click="cancleFilter()" class="background-module">

    </div>
    <div ng-show="itemList==='place'" class="drop-list-items" style="max-height: 300px;overflow-y: auto">
        <div ng-repeat="item in stayCity" class="direct-drop-list">
            <p ng-class="{true:'select-city'}[selectCity.name===item.name]" ng-click="placeFilter(item)">{{item.name}}</p>
        </div>
    </div>
    <div ng-show="itemList==='ranking'" class="drop-list-items">
        <div class="direct-drop-list" ng-repeat="rank in ranking">
            <p ng-class="{true:'select-city'}[stayData.priceSort===rank.id]" ng-click="priceSort(rank)">{{rank.name}}</p>
            <div ng-if="stayData.priceSort==rank.id" class="icon ion-ios-checkmark-empty ranking-select"></div>
        </div>
    </div>
</ion-view>