<div style="width: 100%;margin: 0 auto;text-align: center;">
    <!--<div style="position: relative;margin: 0 auto;">
        <input type="tel" class="change-main-input" ng-focus="textOnfocus()" ng-blur="textNotfocus()" ng-model="password.code" id="alphaInput" maxlength="6">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
        <input type="password" ng-click="setFocus()" readonly="" style="margin:0px;padding:0px;border: 1px solid grey;border-radius:0;width: 44px;height: 45px;display: inline-block;text-align: center;">
    </div>-->
    <div>
        请输入密码
        <input type="password" maxlength="6" ng-model="password.code" placeholder="请输入6位数字支付密码" style="display: inline-block;padding-left: 10px;"/>
    </div>
    <div class="login-button" ng-click="toNext()" style="background-color: darkgray;" ng-style="btnStyle">
        <p>下一步</p>
    </div>
</div>


