.video-detail-frame{
  width: 100%;
  height: 100%;
  background-color: green;
}

.video-title{
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  font-size: 15px;
}

.video-media-body{
  padding: 15px;
  video{
    width: 100%;
    border: 1px solid @main-color;
  }
}

.info-detail-title{
  text-align: center;
  height: 50px;
  font-size: 18px;
  line-height: 49px;
}
.info-detail-body{
  padding-left: 15px;
  padding-right: 10px;
}