.video-detail-frame{
  width: 100%;
  height: 100%;
  background-color: green;
}

.video-title{
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  font-size: 15px;
}

.video-media-body{
  padding: 15px;
  video{
    width: 100%;
    border: 1px solid @main-color;
  }
}

.info-detail-title{
  padding: 10px 10px 0;
  line-height: 1.5;
  font-size: 18px;
}
.info-pub-time{
  padding: 10px;
  color: #666;
}
.info-detail-body{
  padding-left: 15px;
  padding-right: 10px;
  img{
    width: 100%;
  }
}

.info-comment{
  width: 100%;
  padding: 10px;
  .info-comment-title{
    color: @main-color;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
  }

  .info-comment-item{
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    .user-head{
      width: 40px;
      height: 40px;
      background-image: url('../app/img/touxiang@2x.png');
      background-size: 100%;
      border-radius: 20px;
      margin-top: 10px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .user-comment-name{
      position: absolute;
      top: 4px;
      left: 50px;
      color: #555;
      line-height: 1.3;
      span{
        color: #999;
      }
    }
    .info-comment-content{
      margin-top: 5px;
      color: #555;
    }
  }
  .none-comment{
    margin-top: 10px;
    color: #999;
  }
  .none-bottom-border{
    border-bottom: none;
  }
}

.video-player{
  video{
    width: 100%;
    height: auto;
  }
}

.alubm-list-panel{
  padding: 10px;
  .alubm-item{
    padding-top: 8px;
    font-size: 15px;
    padding-bottom: 8px;
  }
  .active-alubm-item{
    background-color: @main-color;
    color: white;
  }
}