.video-detail-frame{
  width: 100%;
  height: 100%;
  background-color: green;
}

.video-title{
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  font-size: 15px;
}

.video-media-body{
  padding: 15px;
  video{
    width: 100%;
    border: 1px solid @main-color;
  }
}
.passage-detail-title{
  position: relative;
  .info-detail-title{
    padding: 21px 0px 0;
    line-height: 1;
    color: #333;
    font-size: 18px;
    font-weight: bold;
  }
  .info-pub-time{
    line-height: 1;
    padding: 7px 0px 18px;
    color: #666;
    position: relative;
  }
  .info-pub-time:before{
    content: '';
    position: absolute;
    top:0px;
    width: 200%;
    height: 200%;
    border-bottom: 1px solid gainsboro;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    box-sizing: border-box;
  }
}

.info-detail-body{
  margin-top: 20px;
  padding-bottom: 15px;
  position: relative;
  img{
    width: 100%;
  }
}
.info-detail-body:before{
  content: '';
  position: absolute;
  top:0px;
  width: 200%;
  height: 200%;
  border-bottom: 1px solid #e5e5e5;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  box-sizing: border-box;
}

.info-comment{
  background-color: white;
  width: 100%;
  .info-comment-title{
    color: @main-color;
    font-size: 17px;
    line-height: 1;
    //margin-top: 18px;
  }

  .info-comment-item{
    position: relative;
    margin-top: 21px;
    padding-bottom: 23px;
    .user-head{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      background-image: url('../app/img/touxiang@2x.png');
      background-size: 100%;
      border-radius: 20px;
      img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
    .user-comment-name{
      padding-left: 45px;
      color: #9e62e1;
      line-height: 1;
      position: relative;
      .pass-com-time{
        position: absolute;
        right: 0;
        top: 0;
        color: #999;
      }
    }
    .info-comment-content{
      margin-top: 12px;
      padding-left: 45px;
      color: #333;
    }
  }
  .none-comment{
    margin-top: 10px;
    padding-bottom: 10px;
    color: #999;
  }
  .none-bottom-border{
    border-bottom: none;
  }
}

.video-player{
  vertical-align: top;
  video{
    width: 100%;
    height: auto;
  }
}

.alubm-info-intro{
  margin-top: 10px;
  background-color: white;
  padding: 15px 0 14px 127px;
  height: 96px;
  position: relative;
  img{
    display: block;
    vertical-align: top;
    width: 100px;
    min-height: 61px;
    position: absolute;
    left: 15px;
    top: 15px;
  }
  .album-intro-title{
    line-height: 1;
    font-size: 14px;
    color: #333;
  }
  .album-intro-author{
    line-height: 1;
    margin-top: 8px;
    font-size: 11px;
    color: #999;
  }
  .album-create-time{
    line-height: 1;
    margin-top: 18px;
    font-size: 11px;
    color: #bcbcbc;
  }
}
.album-desc{
  background-color: white;
  padding: 0 15px;
  .desc{
    line-height: 1;
    font-size: 11px;
    color: #999;
    padding: 10px 7px 13px;
    background-color: #f6f6f6;
  }

}

.alubm-list-panel{
  padding-top: 38px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
  background-color: white;
  .album-list-tile{
    line-height: 1;
    width: 100%;
    font-size: 14px;
    color: #333;
    padding-bottom: 5px;
  }
  .alubm-item{
    padding-left: 7px;
    height: 35px;
    line-height: 34px;
    font-size: 12px;
    border: 1px solid #e5e5e5;
    margin-top: 5px;

  }
  .active-alubm-item{
    border-color: @main-color;
    color: @main-color;
  }
}

.passage-video-comment{

  padding: 7px 15px 7px;
  height: 50px;
  .comment-padding{
    padding-left: 15px;
    border-radius: 20px;
    background-color: #f5f5f5;
    width: 100%;
    .comment-ques{
      margin: 0 auto;
      height: 35px;
      line-height: 36px;
      background: url('../app/img/pinglun@2x.png') left center no-repeat;
      background-size: 12px 15px;
      font-size: 14px;
      color: #ccc;
      padding-left: 25px;
    }
  }

  .share-passage{
    position: absolute;
    right: 15px;
    background: url('../app/img/fenxiang@2x.png') left center no-repeat;
    background-size: 13px 16px;
    height: 35px;
    line-height: 35px;
    padding-left: 20px;
    font-size: 14px;
    color: #666;
  }
}