<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="backFrant()">
        </button>
    </div>
    <h1 class="title title-color">文章详情</h1>
</ion-header-bar>
    <ion-content style="bottom:55px;">
        <div class="info-detail-title">
            {{detailMsg.title}}
        </div>
        <div class="info-pub-time">
            {{detailMsg.formateDate}}
        </div>
        <div class="info-detail-body">
            <div ng-bind-html="detailMsg.text"></div>
        </div>
        <div class="info-comment">
            <div class="info-comment-title">
                热门评论
            </div>
            <div ng-show="userComment.total>0" class="info-comment-item" ng-class="{'none-bottom-border':$last}" ng-repeat="comm in userComment.list">
                <div class="user-head">

                </div>
                <div class="user-comment-name">
                    <div>
                        总有刁民想害朕
                    </div>
                    <div>
                        <span>{{comm.pushTime}}</span>
                    </div>
                </div>
                <div class="info-comment-content">
                    {{comm.content}}
                </div>
            </div>
            <div class="none-comment" ng-show="userComment.total<=0">
                还没有评论！
            </div>
        </div>
    </ion-content>
<ion-footer-bar class="question-list-feed">
    <div class="feed-ques" ng-click="toSubmitComment()">
        发布评论
    </div>
</ion-footer-bar>