<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </div>
    <h1 class="title title-color">文章详情</h1>
</ion-header-bar>
    <ion-content style="bottom:55px;">
        <div class="info-detail-title">
            {{detailMsg.title}}
        </div>
        <div class="info-pub-time">
            {{detailMsg.formateDate}}
        </div>
        <div class="info-detail-body">
            <div ng-bind-html="detailMsg.text"></div>
        </div>
        <div class="info-comment">
            <div class="info-comment-title">
                热门评论
            </div>
            <div class="info-comment-item">
                <div class="user-head">

                </div>
                <div class="user-comment-name">
                    <div>
                        总有刁民想害朕
                    </div>
                    <div>
                        2017-05-15
                    </div>
                </div>
                <div class="info-comment-content">
                    这个应用用着是真不赖这个应用用着是真不赖这个应用用着是真不赖这个应用用着是真不赖这个应用用着是真不赖这个应用用着是真不赖
                </div>
            </div>
            <div class="info-comment-item">
                <div class="user-head">

                </div>
                <div class="user-comment-name">
                    <div>
                        总有刁民想害朕
                    </div>
                    <div>
                        2017-05-15
                    </div>
                </div>
                <div class="info-comment-content">
                    这个应用用着是真不赖这
                </div>
            </div>
        </div>
    </ion-content>
<ion-footer-bar class="question-list-feed">
    <div class="feed-ques" ng-click="toSubmitComment()">
        发布评论
    </div>
</ion-footer-bar>