<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackToList()">
        </button>
    </div>
    <h1 class="title title-color">视频</h1>
</ion-header-bar>
<video id="detailVideo" x5-video-player-type="h5" x5-video-player-fullscreen="true" ng-src="{{trustUrl(videoList.nowActiveVideo)}}" width="100%" height="auto" autoplay controls></video>
<ion-content style="bottom:50px;top: 281px;">

    <div class="alubm-info-intro">
        <img ng-show="albuminfo.smallImage" ng-src="{{albuminfo.smallImage}}"/>
        <div class="album-intro-title">
            {{albuminfo.albumTitle}}
        </div>
        <div class="album-intro-author">
            {{albuminfo.albumAuthor}}
        </div>
        <div class="album-create-time">
            {{albuminfo.createTime}}
        </div>
    </div>
    <div class="album-desc">
        <div class="desc">
            专辑介绍:{{albuminfo.albumDesc}}
        </div>
    </div>
    <div class="alubm-list-panel">
        <div class="album-list-tile">
            专辑列表
        </div>
        <div class="alubm-item" ng-class="{'active-alubm-item':voidsrc.id==videoList.nowActiveVideoId}" ng-repeat="voidsrc in videoList.list" ng-click="changeActiveVideo(voidsrc)">
            {{voidsrc.title}}
        </div>
    </div>
    <div class="info-comment">
        <div class="info-comment-title" style="padding-left: 15px;">
            热门评论
        </div>
        <div ng-show="userComment.total>0" class="info-comment-item" style="padding-left: 15px;padding-right: 15px;" ng-class="{'none-bottom-border':$last}" ng-repeat="comm in userComment.list">
            <div class="user-head">
                <img ng-show="comm.smallImg" ng-src="{{comm.smallImg}}"/>
            </div>
            <div class="user-comment-name">
                <div>
                    {{comm.userName}}
                </div>
                <div class="pass-com-time">
                    {{comm.pushTime}}
                </div>
            </div>
            <div class="info-comment-content">
                {{comm.content}}
            </div>
        </div>
        <div class="none-comment" ng-show="userComment.total<=0">
            还没有评论！
        </div>
    </div>
</ion-content>
<ion-footer-bar class="passage-video-comment">
    <div class="comment-padding">
        <div class="comment-ques" ng-click="toSubmitComment()">
            写下评论和大家一起分享！
        </div>
    </div>

    <div class="collect" ng-click="storePassage()">
        收藏
    </div>
</ion-footer-bar>
