<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goBackToList()">
        </button>
    </div>
    <h1 class="title title-color">视频</h1>
</ion-header-bar>
<div class="video-player">

</div>0
<ion-content>
    <video id="detailVideo" ng-src="{{trustUrl(videoList.nowActiveVideo)}}" width="100%" height="auto" autoplay controls></video>
    <div class="alubm-list-panel">
        <div class="alubm-item" ng-class="{'active-alubm-item':voidsrc.id==videoList.nowActiveVideoId}" ng-repeat="voidsrc in videoList.list" ng-click="changeActiveVideo(voidsrc)">
            {{voidsrc.groupName}}
        </div>
    </div>
</ion-content>
