<ion-view view-title="图片详情">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="true" style="background-color: black;">
        <ion-slide-box class="travel-stay-slider detail-image-slider" on-slide-changed="slideChanged($index)" auto-play="false"
                       show-pager="true" delegate-handle="slideboximgs">
            <ion-slide ng-repeat="pic in images" ng-click="toImageDetail()">
                <div class="box blue">
                    <img ng-src="{{pic}}" width="100%">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="detail-image-index">
            <span>{{imageIndex.index}}/{{imageIndex.total}}</span>
        </div>
    </ion-content>
</ion-view>