<ion-view view-title="备注">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="saveAndBack()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="saveAndBack()">保存
        </button>
    </ion-nav-buttons>
    <ion-content>
        <textarea ng-model="remark.msg"
                  class="stay-remark-textarea"
                  placeholder="请输入备注,最多50个字哦~"
                  type="text"></textarea>
    </ion-content>
</ion-view>