@charset "utf-8";
.feed-sub-title{
  height: 45px;
  padding-left: 15px;
  line-height: 44px;
}

.set-itmes{
  border-top: 1px solid #dcdcdc;
  position: relative;
  background-color: white;
  .p-item{
    position: relative;
    height: 45px;
    line-height: 44px;
    margin-left: 55px;
    border-bottom: 1px solid #dcdcdc;
    .item-left-icon{
      position: absolute;
      width: 28px;
      height: 28px;
      background: url('img/bangzhu@2x.png') no-repeat left center;
      background-size: 28px 28px;
      left: -37px;
      top:8.5px;
    }
  }
}