@charset "utf-8";
.feed-sub-title{
  height: 45px;
  padding-left: 17px;
  line-height: 44px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #666666;
}

.set-itmes{
  border-top: 1px solid #dcdcdc;
  position: relative;
  background-color: white;
  font-size: 16px;
  color: #333333;
  .p-item{
    position: relative;
    height: 45px;
    line-height: 44px;
    margin-left: 55px;
    border-bottom: 1px solid #dcdcdc;
    .item-left-icon{
      position: absolute;
      width: 28px;
      height: 28px;
      background: url('img/bangzhuyufankui_yupingtai@2x.png') no-repeat left center;
      background-size: 28px 28px;
      left: -37px;
      top:8.5px;
    }
    .item-icon-aide{
      position: absolute;
      width: 28px;
      height: 28px;
      background: url('img/bangzhuyufankui_aide@2x.png') no-repeat left center;
      background-size: 28px 28px;
      left: -37px;
      top:8.5px;

    }
    .item-icon-fusu{
      position: absolute;
      width: 28px;
      height: 28px;
      background: url('img/bangzhuyufankui_fusu@2x.png') no-repeat left center;
      background-size: 28px 28px;
      left: -37px;
      top:8.5px;

    }
  }
}