<ion-view title="我" hide-tabs="true">
    <!--<ion-nav-bar style="background-color: #9e62e1">-->
    <!--</ion-nav-bar>-->
    <ion-content has-bouncing="false">
        <div class="mine-header">
            <div class="header-portrait" ng-click="mineInfo()">
                <img ng-src="{{userInfo.smallImg}}">
            </div>
            <div class="user-name" ng-click="mineInfo()">
                <u-name ng-show="!userInfo.accountId">登录/注册</u-name>
                <u-phone ng-hide="!userInfo.accountId">{{userInfo.phone}}</u-phone>
                <span class="icon ion-ios-arrow-right">
                </span>
            </div>
        </div>
        <div class="mine-items">
            <div class="mine-one-item" ng-click="historyRecord()">
                <a class="history-record"></a>
                历史记录
                <span class="icon ion-ios-arrow-right"></span>
            </div>
            <div class="mine-one-item" ng-click="helpFeedback()">
                <a class="help-repeat" style="background-size: 22px 21.5px;"></a>
                帮助与反馈
                <span class="icon ion-ios-arrow-right"></span>
            </div>
            <div class="mine-one-item" style="border: none" ng-click="toSet()">
                <a class="mine-set" style="background-size: 22px 21.5px;"></a>
                设置
                <span class="icon ion-ios-arrow-right"></span>
            </div>
        </div>
    </ion-content>
</ion-view>
