@charset "utf-8";
@import "../../common/veriables";
@info-font-color:#999999;
@info-border-color:#e8e8e8;
.user-info{
  position: relative;
  background-color: white;
  margin-top:10px;
  padding-left: 15px;
  padding-right:15px;
  color: #666666;
  .userinfo-header{
    height: 65px;
    line-height: 64px;
    border-bottom: 1px solid @info-border-color;
    position: relative;
    font-size: 16px;
    .user-info-portrait{
      position: absolute;
      width: 50px;
      height: 50px;
      background: url('img/touxiang@2x.png') no-repeat left center;
      background-size: 50px 50px;
      right: 26px;
      top:50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .portrait-right-arraw{
      font-size: 22px;
      position: absolute;
      color: #d5d5d5;
      right:0px;
      top:0;
    }
  }
  .userinfo-other-itme{
    height: 45px;
    line-height: 44px;
    border-bottom: 1px solid @info-border-color;
    font-size: 16px;
    color: #333333;
    position: relative;
    .name-info{
      position: absolute;
      right: 0;
      font-size: 13px;
      color: @info-font-color;
    }
    .name-right-arrow{
      float: right;
      font-size: 22px;
      color: #d5d5d5;
    }
  }
}

.user-info-sigle{
  position: relative;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  color: #666666;

  .userinfo-email-itme{
    height: 45px;
    line-height:45px;
    border-bottom: 1px solid @info-border-color;
    font-size: 16px;
    color: #333333;
    position: relative;
    span{
      position: absolute;
      right: 0;
      font-size: 13px;
      color: @info-font-color;
    }
    .password-right-arrow{
      float: right;
      font-size: 22px;
      color: #d5d5d5;
      position: absolute;
    }
    .modify-password-input{
      position: absolute;
      left: 70px;
      //vertical-align: top;
      height: 20px;
      font-size: 15px;
      //padding-top: 8px;
      padding: 0;
      border: none;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .clean-password{
      position: absolute;
      right: 34px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 17px;
      height: 17px;
      background: url('img/mima_shanchu@2x.png') no-repeat left center;
      background-size: 17px 17px;
    }

    .close-eye{
      position: absolute;
      right: 2px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20.5px;
      height: 9.5px;
      background: url('img/mima_guanbi@2x.png') no-repeat left center;
      background-size: 20.5px 9.5px;
    }
    .open-eye{
      position: absolute;
      right: 2px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 20.5px;
      height: 13px;
      background: url('img/mima_dakai@2x.png') no-repeat left center;
      background-size: 20.5px 13px;
    }
    span.user-info-email-itme-left {
      position: absolute;
      top: 50%;
      left: 0;
      height: 20px;
      line-height: 20px;
      font-size: 15px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

  }
}

.seting-user-info{
  background-color: white;
  .setting-user-header{
    background-color: darkorange;
    text-align: center;
    .px2rem(height,320);
    img{
      .px2rem(margin-top,65);
      border: 3px solid orange;
      .px2rem(border-radius,75);
      .px2rem(width,150);
      .px2rem(height,150);
      text-align: center;
    }
    input{
      color: white;
      background-color: darkorange;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.setting-user-names{
  position: relative;
  background-color: white;
  .px2rem(margin-top,20);
  .set-items{
    .px2rem(height,100);
    .px2rem(line-height,100);
    padding-left: 10px;
    border-bottom: 1px solid #dedede;
    color: #666666;
    position: relative;
    input{
      position: absolute;
      .px2rem(right,20);
      .px2rem(top,14);
      text-align: right;
    }
    .user-phone{
      position: absolute;
      .px2rem(right,20);
      .px2rem(top,12);
      text-align: right;
    }
    span{
      position: absolute;
      .px2rem(right,30);
    }
    .add-open-book{
      position: absolute;
      .px2rem(top,20);
      .px2rem(right,35);
      .px2rem(width,50);
    }
  }
  .set-choice-sex{
    position: absolute;
    top: 0px;
    right: 10px;
    .px2rem(line-height,100);
    label{
      margin-top: 10px;
      .man-choice{
        .px2rem(width,40);
        position: absolute;
        .px2rem(top,30);
        .px2rem(right,140);
      }
      .women-choice{
        .px2rem(width,40);
        position: absolute;
        .px2rem(top,30);
        .px2rem(right,50);
      }
      .man-word{
        .px2rem(margin-right,50);
      }
      .women-word{
        .px2rem(margin-right,15);
      }
    }
  }
}

.gender-color{
  color: orange;
}

.modify-user-name{
  width: 100%;
  height: 45px;
  line-height: 49px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  input{
    padding: 0;
    height: 18px;
    font-size: 16px;
    position: absolute;
    left: 15px;
    top:50%;
    color: #333333;
    -webkit-transform: translateY(-50%);
  }
  .clean-name{
    width:17px;
    height:17px;
    background: url("img/mima_shanchu@2x.png") no-repeat left center;
    background-size: 17px 17px;
    position: absolute;
    right: 15px;
    top: 14px;
  }
}
.quit-login{
  margin-top: 40px;
  position: relative;
  .user-quit-out{
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: green;
    text-align: center;
  }
}

