@charset "utf-8";
@import "../../common/veriables";
.user-info{
  position: relative;
  background-color: white;
  padding-left: 10px;
  color: #666666;
  .userinfo-header{
    .px2rem(height,132);
    .px2rem(line-height,132);
    border-bottom: 1px solid #dedede;
    img{
      position: absolute;
      .px2rem(top,22);
      .px2rem(right,60);
      .px2rem(width,88);
      .px2rem(height,88);
      border: 1px solid orange;
      .px2rem(border-radius,44);
    }
    .portrait-right-arraw{
      font-size: 22px;
      position: absolute;
      color: #d5d5d5;
      .px2rem(right,28);
      .px2rem(top,0);
    }
  }
  .userinfo-other-itme{
    .px2rem(height,90);
    .px2rem(line-height,90);
    border-bottom: 1px solid #dedede;
    span{
      position: absolute;
      .px2rem(right,40);
      color: #333333;
    }
  }
}

.user-info-sigle{
  position: relative;
  background-color: white;
  padding-left: 10px;
  .px2rem(margin-top,20);
  color: #666666;
  .userinfo-email-itme{
    .px2rem(height,90);
    .px2rem(line-height,90);
    span{
      position: absolute;
      .px2rem(right,40);
      color: #333333;
    }
  }
}

.seting-user-info{
  background-color: white;
  .setting-user-header{
    background-color: darkorange;
    text-align: center;
    .px2rem(height,320);
    img{
      .px2rem(margin-top,65);
      border: 3px solid orange;
      .px2rem(border-radius,75);
      .px2rem(width,150);
      .px2rem(height,150);
      text-align: center;
    }
    input{
      color: white;
      background-color: darkorange;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.setting-user-names{
  position: relative;
  background-color: white;
  .px2rem(margin-top,20);
  .set-items{
    .px2rem(height,100);
    .px2rem(line-height,100);
    padding-left: 10px;
    border-bottom: 1px solid #dedede;
    color: #666666;
    position: relative;
    input{
      position: absolute;
      .px2rem(right,20);
      .px2rem(top,14);
      text-align: right;
    }
    .user-phone{
      position: absolute;
      .px2rem(right,20);
      .px2rem(top,12);
      text-align: right;
    }
    span{
      position: absolute;
      .px2rem(right,30);
    }
    .add-open-book{
      position: absolute;
      .px2rem(top,20);
      .px2rem(right,35);
      .px2rem(width,50);
    }
  }
  .set-choice-sex{
    position: absolute;
    top: 0px;
    right: 10px;
    .px2rem(line-height,100);
    label{
      margin-top: 10px;
      .man-choice{
        .px2rem(width,40);
        position: absolute;
        .px2rem(top,30);
        .px2rem(right,140);
      }
      .women-choice{
        .px2rem(width,40);
        position: absolute;
        .px2rem(top,30);
        .px2rem(right,50);
      }
      .man-word{
        .px2rem(margin-right,50);
      }
      .women-word{
        .px2rem(margin-right,15);
      }
    }
  }
}

.gender-color{
  color: orange;
}
