<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="backApp()">
        </button>
    </div>
    <h1 class="title title-color">个人资料</h1>
</ion-header-bar>
    <ion-content overflow-scroll="false" class="common-content-top">
        <div class="user-info">
            <div class="userinfo-header" ng-click="showPortraitChoice()">
                头像
                <div class="user-info-portrait">
                    <img ng-src="{{userMsg.smallImg}}" ng-show="userMsg.smallImg"/>
                </div>
                <div class="icon ion-ios-arrow-right portrait-right-arraw"></div>
            </div>
            <div class="userinfo-other-itme" ng-click="toModifyName()">
                姓名
                <span class="name-info" style="right:20px;">{{userMsg.userName}}</span>
                <span class="icon ion-ios-arrow-right name-right-arrow"></span>
            </div>
            <div class="userinfo-other-itme">
                账号
                <span class="name-info">{{userMsg.randCode}}</span>
            </div>
            <div class="userinfo-other-itme">
                单位
                <span class="name-info" style="right:0px;">{{userMsg.company}}</span>
            </div>
            <div class="userinfo-other-itme" style="border-bottom: none">
                地址
                <span class="name-info" style="right:0px;">{{userMsg.province}} {{userMsg.city}}</span>
            </div>

        </div>
        <div class="user-info-sigle">
            <div class="userinfo-email-itme">
                手机号
                <span>{{userMsg.phone | phoneHash}}</span>
            </div>
            <div class="userinfo-email-itme" style="border-bottom: none" ng-click="toModifyPassowrd()">
                修改密码
                <span class="icon ion-ios-arrow-right password-right-arrow"></span>
            </div>
        </div>
        <div class="login-operate">
            <div class="login-button can-use-btn" ng-click="toLoginOut()">退出登录</div>
        </div>
    </ion-content>
</ion-view>