<ion-view view-title="重置密码">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <div class="user-info-sigle">
      <div class="userinfo-email-itme">
        <span class="user-info-email-itme-left">当前密码</span>
        <input type="password" class="modify-password-input" ng-model="password.oldPassword" placeholder="输入当前密码"/>
      </div>
      <div class="userinfo-email-itme" style="border-bottom: none" ng-click="toModifyPassowrd()">
        <span class="user-info-email-itme-left">新密码</span>
        <input type="password" class="modify-password-input" ng-model="password.newPassword" placeholder="输入新密码(至少8位字符)"/>
      </div>
    </div>
    <div class="login-operate">
      <div class="login-button can-use-btn" ng-click="sureSubmit()">确定</div>
    </div>
  </ion-content>
</ion-view>