<ion-view view-title="修改用户名">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon" style="color: white;font-size: 14px;margin-top: 5px;" ng-click="sureSubmit()">
      确定
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <div class="modify-user-name">
      <input type="text" ng-model="user.name" placeholder="请输入用户名">
      <div class="clean-name" ng-click="cleanName()" ng-show="user.name"></div>
    </div>
  </ion-content>
</ion-view>