<ion-view view-title="重置密码">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon" style="color: white;font-size: 14px;margin-top: 5px;" ng-click="sureSubmit()">
      确定
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false">
    <div class="user-info-sigle">
      <div class="userinfo-email-itme">
        手机号
        <span>13661398888</span>
      </div>
      <div class="userinfo-email-itme" style="border-bottom: none" ng-click="toModifyPassowrd()">
        修改密码
        <span class="icon ion-ios-arrow-right password-right-arrow"></span>
      </div>
    </div>
  </ion-content>
</ion-view>