<ion-header-bar align-title="center" class="bar-main-color">
  <div class="buttons">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
    </button>
  </div>
  <h1 class="title title-color">重置密码</h1>
</ion-header-bar>
  <ion-content overflow-scroll="false" style="background-color: white">
    <div class="user-info-sigle" style="padding-left: 25px;padding-right: 25px;">
      <div class="userinfo-email-itme" style="height: 50px;">
        <span class="user-info-email-itme-left">当前密码</span>
        <input type="{{inputType}}" class="modify-password-input" maxlength="12" ng-model="password.oldPassword" placeholder="输入当前密码"/>
        <div ng-hide="!password.oldPassword" class="clean-password" ng-click="cleanPassword()"></div>
        <div ng-hide="!password.oldPassword" ng-class="{true:'open-eye',false:'close-eye'}[inputType=='text']" ng-click="openEye()"></div>
      </div>
      <div class="userinfo-email-itme" style="height: 50px;" ng-click="toModifyPassowrd()">
        <span class="user-info-email-itme-left">新密码</span>
        <input type="{{inputType}}" class="modify-password-input" maxlength="12" ng-model="password.newPassword" placeholder="输入新密码(至少8位字符)"/>
      </div>
    </div>
    <div class="login-operate" style="margin-top: 40px;">
      <div class="login-button can-use-btn" ng-click="sureSubmit()">确定</div>
    </div>
  </ion-content>