/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

@icon-font-path: '../../bower_components/ionic/release/fonts/';
@font-face {
  font-family: 'icomoon';
  src:  url('../app/fonts/icomoon.eot?zfp4cx');
  src:  url('../app/fonts/icomoon.eot?zfp4cx#iefix') format('embedded-opentype'),
  url('../app/fonts/icomoon.ttf?zfp4cx') format('truetype'),
  url('../app/fonts/icomoon.woff?zfp4cx') format('woff'),
  url('../app/fonts/icomoon.svg?zfp4cx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-swalk-holiday:before {
  font-size: 26px;
  content: "\e900";
}
.icon-swalk-home:before {
  font-size: 26px;
  content: "\e901";
}
.icon-swalk-mine:before {
  line-height: 1.2;
  content: "\e902";
}
.icon-swalk-stay:before {
  font-size: 26px;
  content: "\e903";
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

body{
  background-color: ghostwhite;
}

ion-content{
  background-color: ghostwhite;
  overflow-y: auto;
  overflow-x: hidden;
}

div > img{
  width: 100%;
}
.vertical {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

/*override the default color calm*/
//.bar.bar-oranged{
//  background-color: #9E61E0;
//  color: white;
//  font-weight: bold;
//}
//@main-color:#1bb2cd;
//@main-color:#9e62e1;
@main-color:white;
.btn-back{
  color: white;
  width: 50px;
  text-align: left;
}
.bar-main-color{
  background-color: @main-color !important;
  color: white;
}

//.slider-pager .slider-pager-page{
//  color: orange;
//}
//
//ion-tabs.tabs-color-active-calm .tab-item.tab-item-active{
//  color: orange;
//}
//
//ion-tabs.tabs-color-active-calm .tab-item {
//  color: #444; }
//
//ion-tabs.tabs-color-active-calm .tab-item.tab-item-active,
//ion-tabs.tabs-color-active-calm .tab-item.active,
//ion-tabs.tabs-color-active-calm .tab-item.activated {
//  color: orange;
//}

.action-sheet-backdrop.active{
  background-color: rgba(0,0,0,0.6);
}

.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer{
  background-color: orange !important;
}

.ionic_datepicker_modal .selected_date{
  background-color: orange !important;
}

.ionic_datepicker_modal .today{
  border-color: orange !important;
}
.ionic_datepicker_modal .button-clear{
  color: orange;
}

.forbid-phone{
  pointer-events: none;
  text-decoration: none;
  color: inherit;
}
.rzslider .rz-pointer{
  background-color: orange;
}
.rzslider .rz-pointer.rz-active:after {
  background-color: white;
}
.rzslider .rz-bar.rz-selection{
  background: orange;
}
.wx-margin-top{
  margin-top: 96px!important;
}
.android-margin-top{
  margin-top: 96px!important;
}
.ios-margin-top{
  margin-top: 76px!important;
}
.app-margin-top{
  margin-top: 56px!important;
}



.app-boffer-spinner{
  text-align: center;
  margin-top: 60px;
}
.rzslider .rz-pointer:after{
  position: absolute;
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border-radius: 4px;
  content: '';
}
.rzslider .rz-pointer {
  top: -10px;
  z-index: 3;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 12px;
}
.alert-button-sure{
  background-color: orange;
  color: white;
}

ion-spinner{
  font-size: 20px;
}

.up-load-background{
  height: 100%;
  width: 100%;
  background-color: green;
  position: absolute;
  background-color: #000;
  opacity: 0.6;
  top: 0;
  left: 0;
  z-index: 100;
}

.login-up-load{
  width: 100%;
  height: 161px;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: 49px;
  z-index: 101;
  overflow: hidden;
  .yimo-logo{
    margin-top: 33px;
    width: auto;
    height: 23px;
    background: url("../app/img/yimokeji_03.png") no-repeat center center;
    background-size: auto 23px;
    text-align: center;
  }
  .login-reg-btns{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    .index-login-btn{
      width: 50%;
      height: 100%;
      float: left;
      padding-left: 6px;
      padding-right: 6px;
      input{
        width: 100%;
        height: 100%;
        border: 0;
        background-color: white;
        border: 1px solid @main-color;
        border-radius: 6px;
        color: @main-color;
      }
    }
    .index-reg-btn{
      width: 50%;
      float: left;
      height: 100%;
      padding-left: 6px;
      padding-right: 6px;
      input{
        width: 100%;
        height: 100%;
        border: 0;
        background-color: @main-color;
        border-radius: 6px;
        color: white;
      }
    }
  }
  .index-portrait-title{
    height: 50px;
    text-align: center;
    line-height: 49px;
    font-size: 18px;
    color: #333333;
  }
  .index-portrait-xiangji{
    width: 100%;
    height: 50px;
    color: #333333;
    border-top: 1px solid #e8e8e8;
    position: relative;
    font-size: 16px;
    line-height: 49px;
    padding-left: 56px;
    .xiangji-icon{
      width: 26px;
      height: 21.5px;
      background: url('../app/img/touxiang_paizhao@2x.png');
      background-size: 26px 21.5px;
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

    }
  }
  .index-portrait-xiangce{
    width: 100%;
    height: 50px;
    color: #333333;
    border-top: 1px solid #e8e8e8;
    position: relative;
    font-size: 16px;
    line-height: 49px;
    padding-left: 56px;
    .xiangce-icon{
      width: 26px;
      height: 21.5px;
      background: url('../app/img/touxiang_bendi@2x.png');
      background-size: 26px 21.5px;
      position: absolute;
      top: 50%;
      left: 20px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}

.up-load-tranform{
  bottom: -49px;
  -webkit-transform: translateY(52px);
  transform: translateY(-49px);
  transition:opacity 500ms ease-in-out 2s,transform 0.2s ease-out;
}
.up-photo-transform{
  bottom: -150px;
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  transition:opacity 1500ms ease-in-out 2s,transform 0.2s ease-out;
}
