<ion-view view-title="资产收益">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" style="background-color: #f1f1f1">
        <div class="asset-detail" ng-if="detailList.length > 0">
            <div class="asset-detail-item" ng-repeat="detail in detailList" ng-click="toIncomeDetail(detail)">
                <div class="asset-detail-item-number">资产号：{{detail.asset.assetNO}}</div>
                <div class="asset-detail-item-house">{{detail.asset.assetName}}</div>
                <div class="asset-detail-item-address">{{detail.asset.address}}</div>
                <div class="asset-income row text-center">
                    <div class="col-50">
                        <div class="text">上月收益</div>
                        <div class="money">￥{{detail.latestIncome[0]}}</div>
                    </div>
                    <div class="col-50">
                        <div class="text">累计收益</div>
                        <div class="money">￥{{detail.latestIncome[7]}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="detailList.length == 0">
            <div class="goods-empty-order">
                <img src="app/img/me_icon_kongbai@2x.png">
                <p>您还没有盛行天下置业资产收益！</p>
                <p>欢迎加入荣盛发展集团盛行天下置业计划</p>
            </div>
        </div>
        <div ng-show="detailList.length == 0" class="ask-phone">
            咨询电话：400-822-8787
        </div>
    </ion-content>
</ion-view>