<ion-view view-title="预约管家">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color:white;"
                ng-click="$state.go('assetHousekeeper')"></button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" style="background-color: #f1f1f1;padding-top: 10px">

        <div ng-if="!appoint">
            <div class="picker-asset asset-picker" ui-sref="assetDetail({type: 1})">
                <span ng-if="!asset.assetName">选择资产</span>
                <span ng-if="asset.assetName">{{asset.assetName}}</span>
                <span class="icon ion-ios-arrow-right"></span>
            </div>

            <div class="asset-picker border-bottom asset-picker-title">
                选择预约时间
            </div>

            <div class="asset-picker border-bottom asset-picker-date">
                <input type="text" readonly ng-model="saveObj.date" placeholder="请输入日期" l-datepicker id="date"/>
                <span class="icon ion-ios-arrow-right"></span>
            </div>

            <div class="asset-picker border-bottom">
                选择预约项目
            </div>
            <div class="asset-picker" style="margin-bottom: 10px">
                <div class="asset-picker-options">
                    <div class="asset-picker-options-row clearfix" ng-repeat="row in categoryList">
                        <label class="asset-picker-item clearfix" ng-repeat="category in row">
                            <div class="input"><input type="checkbox" ng-click="selectCategory(category)"></div>
                            <span>{{category.name}}</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="asset-picker border-bottom">
                备注
            </div>
            <div class="asset-picker asset-picker-remark">
                <textarea placeholder="请输入备注" ng-model="saveObj.remark"></textarea>
            </div>

            <div class="asset-form">
                <div class="asset-form-row clearfix">
                    <div class="asset-form-text">联系人</div>
                    <div class="asset-form-input" style="width: calc(100% - 100px)">
                        <input type="text" ng-model="saveObj.contactsName">
                    </div>
                </div>
                <div class="asset-form-row clearfix">
                    <div class="asset-form-text">电话</div>
                    <div class="asset-form-input" style="width: calc(100% - 100px)">
                        <input type="tel" ng-model="saveObj.contactsPhone">
                    </div>
                </div>
                <div class="asset-form-row asset-form-row-btns">
                    <button class="btn" ng-click="cancleFun()">取消</button>
                    <button class="btn" ng-click="saveFun()">提交</button>
                </div>
            </div>
        </div>

        <div ng-if="appoint">
            <div ng-repeat="repair in appointList.houseKeeperList" style="margin-bottom:10px;">
                <div class="repair-info-items">
                    <div class="repair-info-item">
                        <span class="house-keeper-key">资产名称</span>
                        <span class="house-keeper-value">{{repair.asset.assetName}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">管家姓名</span>
                        <span class="house-keeper-value">{{repair.worker}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">服务时间</span>
                        <span class="house-keeper-value">{{repair.date}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">服务时长</span>
                        <span class="house-keeper-value">{{repair.duration}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">服务类型</span>
                        <span class="house-keeper-value">{{repair.serviceType}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">检查人</span>
                        <span class="house-keeper-value" style="color: orange">{{repair.checker}}</span>
                    </div>
                    <div class="repair-info-item">
                        <span class="house-keeper-key">检查结果</span>
                        <span class="house-keeper-value" style="color: orange">{{repair.checkResult}}</span>
                    </div>
                </div>

                <div class="repair-info-img" ng-if="repair.asset.pic&&repair.asset.pic.length!=0">
                    <div class="repair-img-title">
                        <span>图片信息</span>
                    </div>

                    <div class="repair-img-list">
                        <div class="repair-one-img">
                            <img ng-src="{{pic}}" ng-repeat="pic in repair.asset.pic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="repair-info-remark" style="margin-bottom:10px;" ng-if="appointList.appointmentInfoList.length!=0" ng-repeat="apoint in appointList.appointmentInfoList">
                <div class="remark-title">
                    <span>已预约</span>
                </div>
                <div class="remark-body">
                    <p>
                        <i>预约时间：</i>{{apoint.date}}
                    <p/>
                    <p>
                        <i>预约项目：</i><span ng-repeat="item in apoint.appointmentServiceList">{{item.appointmentTypeName}}</span>
                    </p>
                    <p>
                        <i>备注：</i>{{apoint.remark}}
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>