<ion-view view-title="新闻公告">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" style="background-color: #f1f1f1">
        <div class="asset-news" ng-if="true">
            <div class="asset-news-item" ng-repeat="news in newsList">
                <div class="asset-news-item-title clearfix">
                    <span class="asset-news-item-type">小区：</span>
                    <span>{{news.estateName}}</span>
                    <div>{{news.date}}</div>
                </div>
                <div class="asset-news-item-class">
                    <span class="asset-news-item-type">类型：</span>
                    {{news.type}}
                </div>
                <div class="asset-news-item-detail">
                    <span class="asset-news-item-type">详情：</span>
                    {{news.content}}
                </div>
            </div>
        </div>
        <div ng-show="newsList.length == 0">
            <div class="goods-empty-order">
                <img src="app/img/me_icon_kongbai@2x.png">
                <p>还没有新闻公告！</p>
                <p>欢迎加入荣盛发展集团盛行天下置业计划</p>
            </div>
        </div>
        <div ng-show="newsList.length == 0" class="ask-phone">
            咨询电话：400-822-8787
        </div>
    </ion-content>
</ion-view>