<ion-view view-title="管家服务">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="assetHousekeeperReservation()">马上预约</button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" style="background-color: #f1f1f1">
        <!--<div class="swalk-distance">-->
            <!--<div class="swalk-distance-header">-->
                <!--<div class="swalk-distance-btn swalk-distance-prebtn" ng-click="pMonth()"><span class="icon ion-arrow-left-b"></span></div>-->
                <!--<div class="swalk-distance-date">{{year}} 年 {{month}} 月</div>-->
                <!--<div class="swalk-distance-btn swalk-distance-nextbtn" ng-click="nMonth()"><span class="icon ion-arrow-right-b"></span></div>-->
            <!--</div>-->

            <!--<div class="swalk-distance-body clearfix">-->
                <!--<div ng-repeat="day in days" class="disable">{{day}}</div>-->
                <!--<div ng-repeat="day in dayList"-->
                     <!--class="day"-->
                     <!--ng-class="{'disable':day.disabled}"-->
                     <!--ng-click="goDetail(day)">-->
                    <!--{{day.date}}-->
                    <!--<span ng-if="day.appoint">已预约</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div swalk-distance distance-options="options"></div>
    </ion-content>
</ion-view>