@import "../../common/veriables";

.register-panel{
  background-color: white;
  margin-top: 27px;
  padding-left: 25px;
  padding-right: 25px;
  .register-phone{
    position: relative;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid @login-border;
    font-size: 16px;
    .china-86{
      position: absolute;
      height: 18px;
      line-height: 18px;
      color: #d1d1d1;
      top:50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    input{
      height: 18px;
      line-height: 18px;
      font-size: 15px;
      padding:0;
      color: #333333;
      position: absolute;
      top: 50%;
      left: 70px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

    }
    input::-webkit-input-placeholder{
      color: #d1d1d1;
    }
    .reg-input{
      height: 49px;
      line-height: 49px;
      input{
        height: 100%;
        width: 80%;
        padding-top:0px;
        font-size: 16px;
        padding-bottom:0;
        color: #333333;
      }
    }

  }
  .reg-code{
    position: relative;
    height: 50px;
    border-bottom: 1px solid @login-border;
    font-size: 16px;
    .img-code{
      position: absolute;
      top: 50%;
      right: 35px;
      width: 90px;
      height: 35px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .imgcode-refash{
      position: absolute;
      right: 0;
      top: 50%;
      width: 24px;
      height: 22px;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .reg-img-code{
      position: absolute;
      right: 0;
      width: 100px;
      background-color: green;
    }
    input{
      font-size: 16px;
      height: 100%;
      width: 80%;
      padding-top:0;
      padding-bottom:0;
      color: #333333;
    }

    .reg-img-input{
      font-size: 16px;
      height: 100%;
      width: 40%;
      padding-top:0;
      padding-bottom:0;
      color: #333333;
    }
    input::-webkit-input-placeholder{
      color: #d1d1d1;
    }
    .get-code{
      position: absolute;
      top: 0;
      right: 0;
      color: #666666;
      height: 50px;
      line-height:50px;
    }
    .clean-name{
      .px2rem(width,40);
      .px2rem(height,40);
      background-image: url("../app/img/me_icon_danxuan@3x.png");
      background-size: 100%;
      position: absolute;
      .px2rem(top,26);
      right: 0;
    }
  }
}
.address-name{
  color: #cccccc;
}