<ion-view view-title="身份验证" hide-tabs="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="back()">
        </button>
    </ion-nav-buttons>
    <ion-content style="background-color: white">
        <div class="register-panel">
            <div class="register-phone">
                <span class="china-86">
                    中国 +86
                </span>
                <input type="tel" ng-model="regInfo.phone" placeholder="手机号">
            </div>
            <div class="reg-code">
                <input type="tel" class="reg-img-input" maxlength="4" ng-model="userImgCode.code" placeholder="图形验证码"/>
                <img class="img-code" ng-src="{{imgCode.img}}"/>
                <img class="imgcode-refash" src="../app/img/shuanxin.png" ng-click="getImgCode()"/>
            </div>
            <div class="reg-code">
                <input type="tel" ng-model="regInfo.code" placeholder="请输入验证码"/>
                <div class="get-code" ng-click="getYanCode()">{{getCodeBtn}}</div>
            </div>
        </div>
        <div class="login-operate">
            <div class="login-button can-use-btn" ng-click="ensureCode()">下一步</div>
        </div>
    </ion-content>
</ion-view>