<ion-header-bar align-title="center" class="bar-main-color">
  <div class="buttons">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
    </button>
  </div>
  <h1 class="title title-color">设置新密码</h1>
</ion-header-bar>
  <ion-content style="background-color: white">
    <div class="register-panel">
      <div class="reg-code">
        <input type="password" maxlength="12" ng-model="userInfo.password" placeholder="设置密码(8-12位)"/>
      </div>
      <div class="reg-code">
        <input type="password" maxlength="12" ng-model="userInfo.rePassword" placeholder="确认密码"/>
      </div>
    </div>
    <div class="login-operate">
      <div class="login-button can-use-btn" ng-click="finishReset()">完成</div>
    </div>
  </ion-content>
</ion-view>