<ion-view view-title="设置新密码" hide-tabs="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="back()">
    </button>
  </ion-nav-buttons>
  <ion-content style="background-color: white">
    <div class="register-panel">
      <div class="reg-code">
        <input type="password" maxlength="12" ng-model="userInfo.password" placeholder="设置密码(8-12位)"/>
      </div>
      <div class="reg-code">
        <input type="password" maxlength="12" ng-model="userInfo.rePassword" placeholder="确认密码"/>
      </div>
    </div>
    <div class="login-operate">
      <div class="login-button can-use-btn" ng-click="finishReset()">完成</div>
    </div>
  </ion-content>
</ion-view>