<ion-view view-title="视频列表" hide-tabs="true" hide-nav-bar="true">
    <!--<ion-header-bar>-->
        <!--<input type="text" placeholder="搜索">-->
    <!--</ion-header-bar>-->
    <div class="video-subheader-bar">
        <!--<div class="video-left-icon">-->
        <!--<span class="ion-navicon" ng-click="toCategory()"></span>-->
        <!--</div>-->
        <div class="video-right-search">
            <input placeholder="搜索" ng-model="searchInfo" ng-click="searchOn()">
            <div class="icon ion-ios-search-strong search-fangda" ng-click="searchVideo()"></div>
        </div>
        <div class="video-category-banner" ng-class="{'video-category-active':showCategoryList==true}" ng-click="operateCategoryList()">
            筛选
        </div>
    </div>
    <ion-content style="background-color: #f5f5f5;top: 44px;">
        <div style="position: relative;margin-top: -1px">
            <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true"
                           slide-interval=5000 show-pager="true" delegate-handle="delegateHandler">
                <ion-slide ng-repeat="curimg in curItem" class="my-slider-img">
                    <div class="box blue">
                        <img ng-src="{{curimg.imgSrc}}" width="100%" ng-click="pageClick(curimg)">
                    </div>
                </ion-slide>
            </ion-slide-box>
            <div class="passage-banner-dian">
                <div class="baner-point" ng-repeat="curimg in curItem">
                    <img src="./app/img/banner_dian@2x.png" ng-show="activeBanner==$index">
                </div>
            </div>
        </div>

        <div class="video-list">
            <div class="video-category-rec">
                热门视频
            </div>
            <div class="all-album" ng-click="getAllAlbum()" ng-show="activeCategory.third!=''">全部</div>
            <div class="video-list-body" ng-style="iosBottomPadding">
                <div class="video-album" ng-repeat="album in recVideoList" ng-click="toAlbumDetail(album)">
                    <img ng-src="{{album.smallImage}}">
                    <div class="video-album-title">{{album.albumTitle}}</div>
                    <div class="video-album-desc">{{album.albumAuthor}}</div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="video-classic" ng-style="styleHeight" ng-show="showCategoryList">
        <div class="video-category-first" ng-repeat="first in categoryList">
            <div class="category-title" ng-click="changeCategoryList(first.id)">{{first.categoryName}}</div>
            <div class="right-flag-arrow" ng-class="{'right-arrow-active':nowActiveCategory==first.id}"></div>
            <div class="category-second-third" ng-repeat="second in first.categoryList" ng-show="nowActiveCategory==first.id">
                <div class="category-second-title">
                    <div>{{second.groupName}}</div>
                </div>
                <div class="third-category-list" ng-repeat="third in second.childrenList" ng-click="choicedCategory(third)" ng-class="{'third-category-list-active':activeCategory.third==third.categoryId}">
                    <div class="third-category-btn">
                        {{third.groupName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-view>