<ion-view view-title="视频列表" hide-tabs="true" hide-nav-bar="true">
    <div class="video-subheader-bar">
        <div class="video-left-icon">
            <span class="ion-navicon" ng-click="toCategory()"></span>
        </div>
        <div class="video-right-search">
            <input placeholder="搜索" ng-model="searchInfo" ng-focus="searchOn()" ng-blur="searchOut()" ng-keyup="myKeyup($event)">
            <div class="search-btn" ng-click="searchVideo()">
                搜索
            </div>
        </div>
    </div>
    <ion-content class="has-header" style="background-color: white;top: 45px;">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true"
                       slide-interval=5000 show-pager="true" delegate-handle="delegateHandler">
            <ion-slide ng-repeat="curimg in curItem" class="my-slider-img">
                <div class="box blue">
                    <img ng-src="{{curimg.imgSrc}}" width="100%" ng-click="pageClick(curimg)">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="video-list">
            <div class="video-category-rec">
                <div class="left-icon">

                </div>
                <div class="right-title">
                    热门视频
                </div>
            </div>
            <div class="video-list-body">
                <div class="video-album" ng-repeat="album in recVideoList" ng-click="toAlbumDetail(album)">
                    <img ng-src="{{album.smallImage}}">
                    <div class="video-album-title">{{album.albumTitle}}</div>
                    <div class="video-album-desc">{{album.albumAuthor}}</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>