<ion-view title="填写订单">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="stay-order-file">
            <!--<img ng-src="http://192.168.101.2:8060/sxtx/picture/getPicture/5746dd8fe4b091a386b0a49c">-->
            <!--<p class="order-name">园景双床房（含双早）</p>-->
            <img ng-src="{{pInfo.picurl}}">
            <p class="order-name">{{pInfo.name}}</p>
        </div>
        <div class="stay-order-time">
            <div class="in-and-out" style="margin-left: 10px;">入住 &nbsp;<span style="color: orange;">{{appStay.stayIn}}</span></div>
            <div class="in-and-out">离开&nbsp;<span style="color: orange">{{appStay.stayOut}}</span></div>
            <div class="in-and-out" style="position: absolute;right: 10px;"><span>{{stayDays}}晚</span><span style="margin-left: 15px;color: orange" ng-click="$state.go('orderStayChoiceDate',{id: $state.params.pid})">修改</span></div>
        </div>
        <div class="stay-order-contact">
            <div class="stay-contact-info" style="">
                <div class="stay-contact-name">
                    预订人
                    <input ng-model="contacter.name" type="text" placeholder="姓名"/>
                </div>
                <div class="stay-contact-name">
                    手机号
                    <input ng-model="contacter.phone" type="tel" placeholder="手机号" ng-maxlength="11"/>
                </div>
            </div>
            <div class="stay-contact-book" ng-click="toContact()">
                <img src="app/img/stay_icon_Contacts.png">
            </div>
        </div>
        <div class="stay-number-service">
            预定数量
            <div class="stay-plus-miuns">
                <div ng-click="reduceRooms()">
                    <img class="stay-number-minus" src="app/img/stay_icon_Less@3x.png">
                    <img ng-show="reqData.count>0" class="stay-number-minus" src="app/img/stay_icon_Less_c@3x.png">
                </div>
                <span>{{reqData.count}}</span>
                <div ng-click="addRooms()">
                    <img class="stay-number-plus" src="app/img/stay_icon_plus@3x.png">
                    <img class="stay-number-plus" src="app/img/stay_icon_plus_c@3x.png">
                </div>
            </div>
        </div>
        <div class="stay-service-items">
            配套服务&nbsp;&nbsp;<span style="font-size: 12px;color: orange;">需要选择第三方支付配合付款</span>
            <div class="icon ion-ios-arrow-down stay-service-arrow" ng-class="{true:'ion-ios-arrow-down',false:'ion-ios-arrow-right'}[hideService]" ng-click="showService()"></div>
        </div>
        <div ng-show="hideService">
            <div class="stay-number-service" style="border-bottom: 1px solid whitesmoke" ng-repeat="se in stayService">
                {{se.name}}
                <div class="stay-service-price">￥{{se.price}}</div>
                <div class="stay-plus-miuns">
                    <div ng-click="reduceService(se)">
                        <img class="stay-number-minus" src="app/img/stay_icon_Less@3x.png">
                        <img ng-show="se.count!=0" class="stay-number-minus" src="app/img/stay_icon_Less_c@3x.png">
                    </div>
                    <span>{{se.count}}</span>
                    <div ng-click="addService(se)">
                        <img class="stay-number-plus" src="app/img/stay_icon_plus@3x.png">
                        <img class="stay-number-plus" src="app/img/stay_icon_plus_c@3x.png">
                    </div>

                </div>
            </div>
        </div>
        <div ng-show="!hideService">
            <div class="stay-number-service" ng-show="se.count!=0" style="border-bottom: 1px solid whitesmoke" ng-repeat="se in stayService">
                {{se.name}}
                <div class="stay-service-price">￥{{se.price}}</div>
                <div class="stay-plus-miuns">
                    <div ng-click="reduceService(se)">
                        <img class="stay-number-minus" src="app/img/stay_icon_Less@3x.png">
                        <img ng-show="se.count!=0" class="stay-number-minus" src="app/img/stay_icon_Less_c@3x.png">
                    </div>
                    <span>{{se.count}}</span>
                    <div ng-click="addService(se)">
                        <img class="stay-number-plus" src="app/img/stay_icon_plus@3x.png">
                        <img class="stay-number-plus" src="app/img/stay_icon_plus_c@3x.png">
                    </div>

                </div>
            </div>
        </div>
        <div class="stay-order-contact">
            <div class="stay-contact-info" style="width: 100%;">
                <div class="stay-contact-name">
                    房间总价<span>￥{{orderData.sum.room}}</span>
                </div>
                <div class="stay-contact-name">
                    服务总价<span style="color: black">+￥{{orderData.sum.service}}</span>
                </div>
            </div>
        </div>
       <div class="stay-service-items">
            备注&nbsp;&nbsp;<span>{{stayRemark}}</span>
            <div class="icon ion-ios-arrow-right stay-service-arrow" ng-click="remark()"></div>
        </div>
        <br>
        <br>
    </ion-content>
    <ion-footer-bar class="travel-detail-footer">
        <div class="order-should-pay">
            订单总价:<span style="color: orangered">￥{{orderData.sum.total}}</span>
        </div>
        <div class="buy-it" ng-click="toBuy()">
            确认下单
        </div>
    </ion-footer-bar>
</ion-view>