<ion-view view-title="支付密码设置">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content has-bouncing="false" overflow-scroll="false">
        <div class="change-title">
            你正在为<span>{{userPhone}}</span>重置支付密码
        </div>
        <div class="order-travel-time change-remember" ng-click="remeber()">
            <p class="travel-time">我记得支付密码</p>
            <span class="icon ion-ios-arrow-right"></span>
        </div>
        <div class="order-travel-time change-forget" ng-click="forget()">
            <p class="travel-time">我忘记支付密码</p>
            <span class="icon ion-ios-arrow-right"></span>
        </div>
    </ion-content>
</ion-view>