<ion-view view-title="{{repass.title}}">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="repass.doFinish()">完成
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <div class="login-info login-item-other">
                <div class="login-phone">手机</div>
                <div class="login-phone-number">
                    <input  type="tel" maxlength="11" placeholder="请填写手机号" ng-model="repass.reset.phoneNumber">
                </div>
            </div>
            <div class="login-info login-border">
                <div class="login-phone">验证码</div>
                <div class="login-phone-number">
                    <input type="tel" maxlength="6" placeholder="请填写6位验证码" ng-model="repass.reset.loginCode">
                </div>
                <div class="login-get-code" ng-class="{true:'login-code-disabled'}[!repass.canSend]" ng-click="repass.sendCode()">{{repass.btnName}}
                </div>
            </div>
            <div class="login-info login-border">
                <div class="login-phone">新密码</div>
                <div class="login-phone-number">
                    <input  type="password" maxlength="20" placeholder="6-20位登录密码" ng-model="repass.reset.newPassword">
                </div>
            </div>
            <div class="login-info">
                <div class="login-phone">确认密码</div>
                <div class="login-phone-number">
                    <input  type="password" maxlength="20" placeholder="再次重复输入密码" ng-model="repass.reset.surePassword">
                </div>
            </div>
        </div>
        <!--<div class="login-button" ng-click="repass.doFinish()">-->
            <!--<p>完成</p>-->
        <!--</div>-->
    </ion-content>
</ion-view>