<ion-view view-title="修改密码">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left btn-back" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon" style="color: white;font-size: 14px;" ng-click="saveChange()">完成
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div>
            <div class="login-info login-border">
                <div class="login-phone">当前密码</div>
                <div class="login-phone-number">
                    <input type="{{inputType}}" maxlength="20" placeholder="请输入当前密码" ng-model="password.oldCode">
                </div>
            </div>
            <div class="login-info login-border">
                <div class="login-phone">新密码</div>
                <div class="login-phone-number">
                    <input  type="{{inputType}}" maxlength="20" placeholder="6-20位登录密码" ng-model="password.newPassword">
                </div>
            </div>
            <div class="login-info">
                <div class="login-phone">确认密码</div>
                <div class="login-phone-number">
                    <input  type="{{inputType}}" maxlength="20" placeholder="再次重复输入密码" ng-model="password.surePassword">
                </div>
            </div>
        </div>
        <div class="remember-word-show">
            <label ng-click="showPassword()">
                <img src="app/img/stay_icon_filter_select@3x.png">
                <img ng-show="inputType=='text'" src="app/img/stay_icon_filter_select_c@3x.png">
                <span>显示密码</span>
            </label>
        </div>
        <div class="remember-danger">
            <span>注意：密码需要填写6-20位字符，可由英文字母，数字和符号组成，不能含空格</span>
        </div>
    </ion-content>
</ion-view>