<ion-view view-title="我的优惠券">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="goback()">
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader good-header-style">
        <div class="row" style="padding: 0">
            <div class="col-33 coupon-subtitle-list" ng-click="changeType(0)">
                <span ng-class="{true:'coupon-border'}[couponName==0]">线上使用券</span>
            </div>
            <div class="col-33 coupon-subtitle-list" ng-click="changeType(1)">
                <span ng-class="{true:'coupon-border'}[couponName==1]">线下使用券</span>
            </div>
            <div class="col-33 coupon-subtitle-list" ng-click="changeType(2)">
                <span ng-class="{true:'coupon-border'}[couponName==2]">已使用/已过期</span>
            </div>
        </div>
    </ion-header-bar>
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
        <div ng-show="showLoading" style="text-align: center;margin-top: 60px;">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-show="couponData.count!=0" ng-repeat="coupon in couponData.list">
            <div class="coupon-page" ng-click="toDetail(coupon)">
                <div class="coupon-front">
                    <div class="row coupon-one-row">
                        <div class="col col-20 coupon-one-col coupon-one-money" style="text-align: center;"><span ng-show="coupon.amount&&coupon.amount!=0">￥{{coupon.amount|number:0}}</span></div>
                        <div class="col col-70 coupon-one-col" style="border-left: 1.5px dashed #e0e0e0;">
                            <div class="coupon-name" ng-class="{true:'can-not-use'}[couponName==2]">{{coupon.couponBaseName | couponName}}</div>
                            <div class="coupon-time">有效期：{{coupon.validStart}}至{{coupon.validEnd}}</div>
                        </div>
                    </div>
                    <div class="coupon-status" ng-show="couponName==2">
                        <img src="app/img/coupon-outtime.png" ng-show="coupon.dr===0">
                        <img src="app/img/coupon-used.png" ng-show="coupon.dr===1">
                    </div>
                </div>
            </div>
        </div>
        <div class="goods-empty-order" ng-show="couponData.count==0">
            <img src="app/img/me_icon_kongbai@3x.png">
            <p>没有这种优惠券</p>
        </div>
        <ion-infinite-scroll ng-if="couponData.count!=couponData.list.length" on-infinite="loadMoreDate()" distance="1%" immediate-check="false">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>