<ion-view view-title="优惠券详情">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="coupon-detail">
            <div class="coupon-detail-title" style="padding-left:10px;padding-right:10px;line-height: 1.2" ng-hide="detail.amount&&detail.amount!=0">{{detail.couponBaseName}}</div>
            <div class="coupon-detail-title" ng-show="detail.amount&&detail.amount!=0">￥{{detail.amount|number:0}}</div>
            <div class="coupon-detail-time">使用期限：{{detail.validStart}}至{{detail.validEnd}}</div>
            <div class="coupon-detail-payright" ng-hide="detail.merchName=='盛行天下'">仅限{{detail.merchName}}使用</div>
            <div class="coupon-detail-code">
                优惠码：<span>{{detail.couponNo}}</span>
            </div>
        </div>
        <div class="coupon-use-intro">
            使用说明
            <p ng-repeat="item in useHelp">{{$index+1}}:{{item.content}}</p>
        </div>
    </ion-content>
    <div class="coupon-detail-introright">本优惠券解释权归{{detail.merchName}}所有</div>
</ion-view>