.login-sub-header{
  padding: 0;
}
.login-by-password{
  width: 50%;
  .login-password-style{
    width: 70%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    margin: 0 auto;
  }
}

.input-phone-inline{
  display: inline-block;
}

.login-info{
  height: 45px;
  line-height: 45px;
  background-color: white;
  padding-left: 20px;
  position: relative;
  .login-phone{
    display: inline-block;
  }
  .login-phone-number{
    display: inline-block;
    input{
      padding-left: 10px;
    }
  }
  .login-get-code{
    height: 45px;
    background-color: #33cd5f;
    display: inline-block;
    width: 100px;
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
  }
}

.login-code-disabled{
  background-color: darkgrey !important;
}
.login-item-other{
  border-bottom: 1px solid gainsboro;
  margin-top: 10px;
}

.login-border{
  border-bottom: 1px solid gainsboro;
}

.login-by-phonecode{
  width: 50%;
  .login-code-style{
    width: 70%;
    height: 44px;
    margin: 0 auto;
    line-height: 44px;
    text-align: center;
  }
}
.login-item-border{
  border-bottom: 2px solid orange;
}

.phone-number-back{
  margin: 20px auto;
  width: 95%;
  .phone-number{
    width: 60%;
    float: left;
  }
  .phone-number-button{
    float: right;
    margin-top: -1px;
  }
}

.yanzheng-number{
  width: 100%;
  clear: both;
  .yanzheng-div{
    padding-top: 20px;
    margin: 0 auto;
    width: 95%;
  }
}

.input-border-radius{
  border-radius: 3px;
}

.login-button{
  width: 95%;
  margin: 30px auto 20px;
  height: 40px;
  background-color: orange;
  border-radius: 3px;
  p{
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    color: white;
  }
}

.login-forgot-password{
  display: inline-block;
  position: absolute;
  right: 10px;
  margin-top: 10px;
  color: darkgrey;
}