<ion-view view-title="登录" hide-tabs="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="back()">
        </button>
    </ion-nav-buttons>
    <ion-content style="background-color: white">
        <div class="login-panel">
            <div class="login-name">
                <input type="text" ng-model="userInfo.name" placeholder="用户名/手机号">
                <div class="clean-name" ng-show="userInfo.name" ng-click="chearName()"></div>
            </div>
            <div class="login-password">
                <input type="password" ng-model="userInfo.password" placeholder="登录密码"/>
                <div class="clean-name" ng-show="userInfo.password" ng-click="chearPassword()"></div>
            </div>
        </div>
        <div class="login-operate">
            <div class="login-button can-use-btn" ng-click="toLogin()">登录</div>
        </div>

        <div class="login-reg-forgot">
            <div class="to-register" ng-click="toRegister()">没有账号，去注册</div>
            <div class="to-forgot" ng-click="toRegister()">忘记密码</div>
        </div>
    </ion-content>
</ion-view>