<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </div>
    <h1 class="title title-color">应用</h1>
</ion-header-bar>
    <ion-content class="common-content-top">
        <!--<div class="history-top-magin"></div>-->
        <div class="application-itmes" ng-repeat="app in appList">
            <div class="app-logo"></div>
            <div class="app-sys-name">{{app.app.appName}}<div class="app-type">{{app.date}}</div></div>
        </div>
    </ion-content>