.history-top-magin{
  height: 45px;
}

.teaching-sub-header{
  padding: 0;
  .midea-teaching{
    width: 50%;
    line-height: 44px;
    text-align: center;
  }

  .panel-active{
    background-color: ghostwhite;
  }
}

.teaching-itmes{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0px;
  .one-item{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 5px;
    img{
      vertical-align: top;
    }
    span{
      font-size: 16px;
    }
  }
}