<ion-header-bar align-title="center" class="bar-main-color">
    <div class="buttons">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </div>
    <h1 class="title title-color">资讯</h1>
</ion-header-bar>
    <ion-content>
        <!--<div class="history-top-magin"></div>-->
        <div class="info-set-itmes">
            <div class="list">
                <div class="item item-thumbnail-left" ng-repeat="info in infoList" ng-click="toInfoDetail(info)">
                    <img ng-src="{{info.news.imgSrc}}">
                    <p>{{info.news.title}}</p>
                    <p class="item-sub-header">{{info.news.extstr1}}</p>
                </div>
            </div>
        </div>
    </ion-content>