<ion-view view-title="教学" hide-tabs="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader teaching-sub-header">
        <div class="midea-teaching " ng-class="{true:'panel-active'}[panelType=='sp']" ng-click="teachChoice('sp')">
            视频
        </div>
        <div class="midea-teaching" ng-class="{true:'panel-active'}[panelType=='tw']" ng-click="teachChoice('tw')">
            图文
        </div>
    </ion-header-bar>
    <ion-content class="has-subheader">
        <div class="teaching-itmes" ng-if="panelType=='sp'">
            <div class="one-item" ng-repeat="teach in teachInfo" ng-click="toTeachVideo(teach)">
                <img ng-src="{{teach.teach.imgSrc}}">
                <span>{{teach.teach.title}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>