<ion-view view-title="设置" hide-tabs="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-left" style="color: white;" ng-click="_goback(-1)">
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="false">
        <div class="mine-items">
            <div class="mine-one-item" ng-click="connectUs()">
                <a class="mine-set-contact" style="background-size: 25px 25px;"></a>
                联系我们
            </div>
            <div class="mine-one-item" ng-click="about()">
                <a class="mine-set-about" style="background-size: 25px 25px;"></a>
                关于我们
            </div>

        </div>
    </ion-content>
</ion-view>